<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <000meta http-equiv="Content-Security-Policy" content=""> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LHQ Editor</title>

    <link href="flexboxgrid.min.css" rel="stylesheet">
    <link href="tagify/tagify.css" rel="stylesheet" />
    <link href="tagify/dragsort.css" rel="stylesheet" />
    <link href="page.css" rel="stylesheet" />

    <script nonce="" src="vue/vue.global.js"></script>
    <script nonce="" src="lodash.min.js"></script>

    <script nonce="" src="tagify/tagify.js"></script>
    <script nonce="" src="tagify/tagify.polyfills.min.js"></script>
    <script nonce="" src="tagify/dragsort.js"></script>
</head>

<body>
    <div id="app">
        <div class="row start-xs middle-xs">
            <div class="col-xs-1 label-right">
                <label for="name">{{ item.elementType.toPascalCase() }}:</label>
            </div>
            <div class="col-xs">
                <a href="#" @click="openResource" :title="'Click to locate ' + item.elementType + ' in tree view...'">
                    {{ fullPath }}
                </a>
            </div>
        </div>
        <div class="row start-xs middle-xs ">
            <div class="col-xs-1 label-right">
                <label for="name">Name:</label>
            </div>
            <div class="col-xs">
                <input type="text" id="name" v-model="item.name" autocomplete="off">
            </div>
            <div class="col-xs-1 label-right" v-if="isResource">
                <label for="state">State:</label>
            </div>
            <div class="col-xs-3" v-if="isResource">
                <select id="state" v-model="item.state">
                    <option disabled value="">Please select one</option>
                    <option>New</option>
                    <option>Edited</option>
                    <option>NeedsReview</option>
                    <option>Final</option>
                </select>
                <!-- <input type="hidden" id="resourceState" value="{{ item.state }}" ref="resourceState"> -->
            </div>
        </div>
        <div class="row start-xs middle-xs">
            <div class="col-xs-1 label-right">
                <label for="description">Description:</label>
            </div>
            <div class="col-xs">
                <input type="text" id="description" v-model="item.description" autocomplete="off">
            </div>
        </div>
        <div class="row start-xs middle-xs" v-if="isResource">
            <div class="col-xs-1 label-right">
                <label for="parameters">Parameters:</label>
            </div>
            <div class="col-xs-11">
                <div class="row no-margin">
                    <div class="col-xs">
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 100%;">
                                    <input type="hidden" id="parameters" class="customTagify" ref="parameters">
                                </td>
                                <td>
                                    <button type="button" style="padding: 5 0 5 0;height:35px" id="editParameters"
                                        @click="editParameters">
                                        {{ paramsEnabled ? 'Apply' : 'Edit' }}
                                    </button>
                                </td>
                                <td v-if="paramsEnabled">
                                    <button type="button" style="padding: 5 0 5 0;height:35px" id="cancelEditParameters"
                                        data-cancel="true" @click="editParameters">Cancel</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- <div class="col-xs-1">
                        
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row start-xs middle-xs" style="padding-bottom: 15px;" v-if="isResource">
            <div class="col-xs-offset-1 col-xs highlight-row">
                <div class="box">
                    <label>Translations ({{ translationCount }})</label>
                </div>
            </div>
        </div>
        <div class="row start-xs middle-xs" v-if="isResource">
            <div class="col-xs-offset-1 col-xs">
                <table id="translations" v-if="translations.length > 0">
                    <tr v-for="(translation, index) in translations" :key="index">
                        <td>
                            <label :class="{ 'bold': translation.isPrimary }" class="no-wrap"
                                :title="translation.culture + (translation.isPrimary ? ' [primary]' : '')">
                                {{ translation.culture }}
                            </label>
                        </td>
                        <td>
                            <textarea v-model="translation.valueRef.value" rows="1" @input="autoResizeTextarea"
                                :placeholder="'Translation for ' + translation.culture"
                                :readonly="translation.valueRef.locked"
                                :class="{ 'locked': translation.valueRef.locked }"
                                :title="translation.valueRef.locked ? 'Editing of translation is locked.':''"></textarea>
                        </td>
                        <td style="vertical-align: baseline;">
                            <button @click="lockTranslation(translation)"
                                :title="translation.valueRef.locked ? 'Unlock translation' : 'Lock translation'">
                                {{ translation.valueRef.locked ? 'U' : 'L' }}
                            </button>
                        </td>
                    </tr>
                </table>
                <div v-else>
                    <p>No translations available.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="page.js"></script>
</body>

</html>