body {
  font-family: sans-serif;
  font-size: small;
  padding: 20px;
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
}

div#loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  width: 100%;
}

body:not([data-loading]) > #loading {
  display: none;
}

body[data-loading] > div#app {
  display: none;
}

a {
  /* color: blue; */
  color: var(--vscode-textLink-foreground);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  /* color: blue; */
  color: var(--vscode-textLink-foreground);
}

div.row > div[class^='col-'] {
  margin-bottom: 5px;
}

.no-margin {
  margin-bottom: 0 !important;
}

.highlight-row {
  /* background-color: var(--vscode-tab-inactiveBackground); */
  color: var(--vscode-list-hoverForeground);
  background-color: var(--vscode-list-hoverBackground);

  margin-bottom: 0;
  display: flex;
  align-items: center;
}

label {
  display: block;
  white-space: nowrap;
}

.no-wrap {
  white-space: nowrap;
}

.box {
  margin-bottom: 0;
  padding: 5px 0 5px 0;
}

input,
textarea,
select {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
  resize: none;
  /* border: rgb(221, 221, 221) solid 1px; */
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  border: 1px solid
    var(--vscode-input-border, var(--vscode-editorWidget-border));
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  opacity: 1;
  outline-color: var(--vscode-focusBorder);
  outline-offset: -1px;
  outline-style: solid;
  outline-width: 1px;
}

button {
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
  border: 0;
}

button:hover {
  background-color: var(--vscode-button-hoverBackground);
}

/* Reset autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: inherit !important;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px white;
}

textarea {
  max-height: 4.5em;
  overflow-y: auto;
}

textarea[readonly] {
  background-color: var(--vscode-editor-background);
  /* color: var(--vscode-editor-foreground); */
  color: var(--vscode-input-placeholderForeground);
}

/* textarea.locked {
  background-color: #f0f0f0;
} */

.label-right {
  display: flex;
  justify-content: flex-end;
}

.bold {
  font-weight: bold;
}

.inline-label-input {
  display: flex;
  align-items: center;
}

.inline-label-input label {
  margin-right: 10px;
  line-height: 2em;
  flex-shrink: 0;
}

.inline-label-input input {
  flex: 1 1 0%;
}

.inline-label-input::after {
  content: '';
  display: table;
  clear: both;
}

table#translations {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
}

table#translations td {
  border: none;
  padding-bottom: 5px;
}

table#translations td:first-child {
  padding-right: 20px;
  text-wrap: nowrap;
}

table#translations td:nth-child(2) {
  width: 100%;
}

table#layout {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
}

table#layout td {
  border: none;
  padding-bottom: 5px;
}

table#layout td.fullrow {
  width: 100%;
}

table#layout td:first-child {
  padding-left: 10px;
  padding-right: 20px;
  text-wrap: nowrap;
}

table#layout td:first-child > label {
  text-align: right;
}

tags.tagify {
  width: 100%;
}

.tagify__tag[aria-invalid='true'] > div {
  color: red;
}

.customTagify {
  /* --tags-disabled-bg: white; */
  --readonly-striped: 0;
  --tags-disabled-bg: var(--vscode-editor-background);
  --tag-text-color: var(--vscode-editor-foreground);
  --tag-text-color--edit: var(--vscode-input-foreground);
  --tag-bg: var(--vscode-input-background);

  /* border: 1px solid var(--vscode-input-background); */
  border: 1px solid
    var(--vscode-input-border, var(--vscode-editorWidget-border));
}

.tagify__tag:focus div,
.tagify__tag:hover:not([readonly]) div {
  color: var(--vscode-list-hoverForeground);
}

.tagify__tag:focus div::before,
.tagify__tag:hover:not([readonly]) div::before {
  --tag-bg: var(--vscode-list-hoverBackground);
}

.customTagify[disabled] {
  --tag-bg: var(--tags-disabled-bg);
  opacity: 1;
}

.tooltip {
  position: absolute;
  z-index: 999;
  opacity: 0.8;
  background-color: #f8d7da;
  color: #721c24;
  padding: 8px 12px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease;
}

.tooltip-fade-out {
  animation: tooltip-fadeOut 3s ease-out forwards;
}

@keyframes tooltip-fadeOut {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}
