body {
  font-family: sans-serif;
  font-size: small;
  padding: 20px;
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
}

div#loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  width: 100%;
}

body:not([data-loading]) > #loading {
  display: none;
}

body[data-loading] > div#app {
  display: none;
}

.error-text {
  color: var(--vscode-errorForeground);
  background-color: var(--vscode-errorBackground);
}

a {
  color: var(--vscode-textLink-foreground);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--vscode-textLink-foreground);
}

div.row > div[class^='col-'] {
  margin-bottom: 5px;
}

.no-margin {
  margin-bottom: 0 !important;
}

.highlight-row {
  color: var(--vscode-list-hoverForeground);
  background-color: var(--vscode-list-hoverBackground);

  margin-bottom: 0;
  display: flex;
  align-items: center;
}

label {
  display: block;
  white-space: nowrap;
}

.no-wrap {
  white-space: nowrap;
}

.box {
  margin-bottom: 0;
  padding: 5px 0 5px 0;
}

input,
textarea,
select {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
  resize: vertical;
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  border: 1px solid
    var(--vscode-input-border, var(--vscode-editorWidget-border));
}

input:not([data-error]):focus,
textarea:not([data-error]):focus,
select:not([data-error]):focus,
button:not([data-error]):focus {
  outline-color: var(--vscode-focusBorder);
  opacity: 1;
  outline-offset: -1px;
  outline-style: solid;
  outline-width: 1px;
}

button:not([data-error]):focus {
  outline-offset: 2px !important;
}

input[data-error],
textarea[data-error],
select[data-error],
button[data-error] {
  outline-color: var(--vscode-inputValidation-errorBorder);
  opacity: 1;
  outline-offset: -1px;
  outline-style: solid;
  outline-width: 1px;
}

tags.focus-border {
  outline-color: var(--vscode-focusBorder);
  opacity: 1;
  outline-offset: -1px;
  outline-style: solid;
  outline-width: 1px;
}

tags[data-error].focus-border {
  outline-color: var(--vscode-inputValidation-errorBorder);
}

label[data-focused] {
  outline-color: var(--vscode-focusBorder);
  opacity: 1;
  outline-offset: -1px;
  outline-style: solid;
  outline-width: 1px;
}

input[readonly]:focus,
textarea[readonly]:focus,
select[readonly]:focus,
button[readonly]:focus {
  outline-color: var(--vscode-editor-selectionBackground);
}

button {
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
  border: 0;
  height: 28px;
}

button.big-btn {
  height: 35px;
}

button:hover {
  background-color: var(--vscode-button-hoverBackground);
}

button:disabled {
  color: rgb(from var(--vscode-button-foreground) r g b / 0.5);

  background-color: rgb(from var(--vscode-button-background) r g b / 0.5);

  cursor: not-allowed;
}

/* Reset autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: inherit !important;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px white;
}

textarea {
  min-height: min-content;
  max-height: 4.5em;
  overflow-y: auto;
}

textarea[readonly],
input[readonly] {
  background-color: rgb(
    from var(--vscode-input-placeholderForeground) r g b / 0.1
  );

  color: var(--vscode-input-placeholderForeground);
}

.label-right {
  display: flex;
  justify-content: flex-end;
}

.bold {
  font-weight: bold;
}

.inline-label-input {
  display: flex;
  align-items: center;
}

.inline-label-input label {
  margin-right: 10px;
  line-height: 2em;
  flex-shrink: 0;
}

.inline-label-input input {
  flex: 1 1 0%;
}

.inline-label-input::after {
  content: '';
  display: table;
  clear: both;
}

table#translations {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
}

table#translations td {
  border: none;
  padding-bottom: 5px;
}

table#translations td:first-child {
  padding-right: 20px;
  text-wrap: nowrap;
}

table#translations td:nth-child(2) {
  width: 100%;
}

table#layout {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
}

table#layout td {
  border: none;
  padding-bottom: 5px;
}

table#layout td.fullrow {
  width: 100%;
}

table#layout td:first-child {
  padding-left: 10px;
  padding-right: 20px;
  text-wrap: nowrap;
}

table#layout td:first-child > label {
  text-align: right;
}

table#translations td:first-child {
  padding-left: 10px;
  vertical-align: baseline;
  padding-right: 5px;
  border: 0;
}

table#translations td[data-focused]:first-child {
  border-left: 1px solid var(--vscode-focusBorder);
}

tags.tagify {
  width: 100%;
}

.tagify__tag[aria-invalid='true'] > div {
  color: red;
}

.customTagify {
  --readonly-striped: 0;
  --tags-disabled-bg: var(--vscode-editor-background);
  --tag-text-color: var(--vscode-editor-foreground);
  --tag-text-color--edit: var(--vscode-input-foreground);
  --tag-bg: var(--vscode-input-background);

  border: 1px solid
    var(--vscode-input-border, var(--vscode-editorWidget-border));
}

.tagify__tag:focus div,
.tagify__tag:hover:not([readonly]) div {
  color: var(--vscode-list-hoverForeground);
}

.tagify__tag:focus div::before,
.tagify__tag:hover:not([readonly]) div::before {
  --tag-bg: var(--vscode-list-hoverBackground);
}

.customTagify[disabled] {
  --tag-bg: var(--tags-disabled-bg);
  opacity: 1;
}

.tooltip {
  position: absolute;
  z-index: 999;
  opacity: 0.8;
  background-color: #f8d7da;
  color: #721c24;
  padding: 8px 12px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease;
}

.tooltip-fade-out {
  animation: tooltip-fadeOut 3s ease-out forwards;
}

@keyframes tooltip-fadeOut {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}

#translation-text-locked {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.3em;
  justify-content: space-between;
}

div#translation-text-locked > div.codicon {
  padding-left: 5px;
}

div#translation-text-locked > div.codicon:hover {
  color: var(--vscode-focusBorder);
}

/* properties dialog related */

.modal-dialog-block {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2575;
  background: rgba(0, 0, 0, 0.3);
}

.modal-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0px 8px var(--vscode-widget-shadow);
  color: var(--vscode-editorWidget-foreground);
  background-color: var(--vscode-editorWidget-background);
  border: 1px solid var(--vscode-editorWidget-border);
  border-radius: 6px;
  min-width: 550px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  height: 80vh;
  max-height: 80vh;
}

.modal-dialog > div:first-child {
  padding: 16px;
  border-bottom: 1px solid var(--vscode-editorWidget-border);
  font-weight: bold;
  font-size: 1.1em;
}

.modal-dialog > div:nth-child(2) {
  padding: 16px;
  flex: 1;
  overflow-y: auto;
}

.modal-dialog > div:last-child {
  padding: 12px 16px;
  border-top: 1px solid var(--vscode-editorWidget-border);
  text-align: right;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.modal-dialog > div:last-child > div:first-child {
  flex: 1;
  text-align: left;
}

.modal-dialog > div:last-child > div:first-child > label {
  font-size: smaller;
  cursor: pointer;
}

label.small-2lines-trim {
  max-width: 98%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 2.2em;
}

.modal-dialog > div:last-child > div:last-child {
  flex: none;
  text-align: right;
}

.modal-dialog > div:last-child > button {
  height: 28px;
}

table#properties {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
}

table#properties td {
  padding: 5px;
}

.uppercase {
  text-transform: uppercase;
}

table#properties tr.template > td {
  border-top: 1px solid var(--vscode-editorWidget-border);
  padding-top: 20px;
}

table#settings-table tr.settingValue td:first-child {
  width: 50%;
  border-bottom: 1px solid var(--vscode-editorWidget-border);
  border-right: 1px solid var(--vscode-editorWidget-border);
}

table#settings-table tr.settingValue td:nth-child(2) {
  border-bottom: 1px solid var(--vscode-editorWidget-border);
}

table#settings-table tr.settingValue:last-child td {
  border-bottom: none;
}

table#settings-table tr.settingValue td label {
  white-space: normal;
}

table#settings-table tr.settingValue:hover {
  background-color: var(--vscode-settings-rowHoverBackground);
}

table#settings-table tr.settingValue[data-focused] {
  background-color: var(--vscode-settings-focusedRowBackground);
}

div.icon-text {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
}

div.icon-text > div.codicon {
  padding-left: 5px;
}

select[disabled] {
  pointer-events: none;
  background-color: rgb(
    from var(--vscode-input-placeholderForeground) r g b / 0.1
  );

  color: var(--vscode-input-placeholderForeground);
}


.translationTextArea{
    color: inherit;
}