<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <000meta http-equiv="Content-Security-Policy" content=""> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LHQ Editor</title>

    <link href="flexboxgrid.min.css" rel="stylesheet">
    <link href="tagify/tagify.css" rel="stylesheet" />
    <link href="tagify/dragsort.css" rel="stylesheet" />
    <link href="page.css" rel="stylesheet" />

    <script nonce="" src="vue/vue.global.prod.js"></script>
    <script nonce="" src="lodash.min.js"></script>

    <script nonce="" src="tagify/tagify.js"></script>
    <script nonce="" src="tagify/tagify.polyfills.min.js"></script>
    <script nonce="" src="tagify/dragsort.js"></script>
</head>

<body data-loading="true">
    <div id="loading">
        <div style="width: 16px;height: 16px;">
            <svg fill="#6495ed" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <style>
                    @keyframes spinner_MGfb {
                        93.75% {
                            opacity: .2
                        }
                    }

                    .spinner_S1WN {
                        animation: spinner_MGfb .8s linear infinite;
                        animation-delay: -.8s
                    }
                </style>
                <circle cx="4" cy="12" r="3" class="spinner_S1WN" />
                <circle cx="12" cy="12" r="3" class="spinner_S1WN" style="animation-delay:-.65s" />
                <circle cx="20" cy="12" r="3" class="spinner_S1WN" style="animation-delay:-.5s" />
            </svg>
        </div>
        <span>Loading</span>
    </div>
    <div id="app">
        <table id="layout">
            <tr>
                <td>
                    <label for="name">{{ item.elementType.toPascalCase() }}:</label>
                </td>
                <td class="fullrow">
                    <a href="#" @click="openResource"
                        :title="'Click to locate ' + item.elementType + ' in tree view...'">
                        {{ fullPath }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="name">Name:</label>
                </td>
                <td>
                    <div style="display: flex; flex-direction: row; align-items: center; gap: 1em; width: 100%;">
                        <input type="text" id="name" v-model="item.name" autocomplete="off" style="flex-basis: 60%;">

                        <template v-if="isResource">
                            <label for="state">State:</label>
                            <select id="state" v-model="item.state" style="flex-basis: 40%;">
                                <option disabled value="">Please select one</option>
                                <option>New</option>
                                <option>Edited</option>
                                <option>NeedsReview</option>
                                <option>Final</option>
                            </select>
                        </template>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="description">Description:</label>
                </td>
                <td>
                    <input type="text" id="description" v-model="item.description" autocomplete="off">
                </td>
            </tr>
            <template v-if="isResource">
                <tr>
                    <td>
                        <label for="parameters">Parameters:</label>
                    </td>
                    <td>
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 100%; padding-left: 0;">
                                    <input type="hidden" id="parameters" class="customTagify" ref="parameters">
                                </td>
                                <td>
                                    <button type="button" style="padding: 5 0 5 0;height:35px" id="editParameters"
                                        @click="editParameters">
                                        {{ paramsEnabled ? 'Apply' : 'Edit' }}
                                    </button>
                                </td>
                                <td v-if="paramsEnabled">
                                    <button type="button" style="padding: 5 0 5 0;height:35px" id="cancelEditParameters"
                                        data-cancel="true" @click="editParameters">Cancel</button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </template>
            <template v-if="isResource">
                <tr style="padding-bottom: 15px;">
                    <td>&nbsp;</td>
                    <td class="highlight-row" style="padding: 5px;">
                        <label>Translations ({{ translationCount }})</label>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <table id="translations" v-if="translations.length > 0">
                            <tr v-for="(translation, index) in translations" :key="culture">
                                <td style="padding-left: 0;">
                                    <label :class="{ 'bold': translation.isPrimary }" class="no-wrap"
                                        style="text-align: left;"
                                        :title="translation.culture + (translation.isPrimary ? ' [primary]' : '')">
                                        {{ translation.culture }}
                                    </label>
                                </td>
                                <td>
                                    <textarea v-model="translation.valueRef.value" rows="1" @input="autoResizeTextarea"
                                        :placeholder="'Translation for ' + translation.culture"
                                        :readonly="translation.valueRef.locked"
                                        :class="{ 'locked': translation.valueRef.locked }"
                                        :title="translation.valueRef.locked ? 'Editing of translation is locked.':''"></textarea>
                                </td>
                                <td style="vertical-align: baseline; padding-left: 5px;">
                                    <button @click="lockTranslation(translation)"
                                        :title="translation.valueRef.locked ? 'Unlock translation' : 'Lock translation'">
                                        {{ translation.valueRef.locked ? 'U' : 'L' }}
                                    </button>
                                </td>
                            </tr>
                        </table>
                        <div v-else>
                            <p>No translations available.</p>
                        </div>
                    </td>
                </tr>
            </template>
        </table>
    </div>

    <script src="page.js"></script>
</body>

</html>