<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LHQ Editor</title>

    <!-- <link href="flexboxgrid.min.css" rel="stylesheet"> -->
    <link href="tagify/tagify.css" rel="stylesheet" />
    <link href="tagify/dragsort.css" rel="stylesheet" />
    <link href="page.css" rel="stylesheet" />
    <link href="codicon.css" rel="stylesheet" />

    <script nonce="" src="vue/vue.global.js"></script>
    <script nonce="" src="lodash.min.js"></script>

    <script nonce="" src="tagify/tagify.js"></script>
    <script nonce="" src="tagify/tagify.polyfills.min.js"></script>
    <script nonce="" src="tagify/dragsort.js"></script>
</head>

<body data-loading="true">
    <div id="loading">
        <div style="width: 16px;height: 16px;">
            <svg fill="#6495ed" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <style>
                    @keyframes spinner_MGfb {
                        93.75% {
                            opacity: .2
                        }
                    }

                    .spinner_S1WN {
                        animation: spinner_MGfb .8s linear infinite;
                        animation-delay: -.8s
                    }
                </style>
                <circle cx="4" cy="12" r="3" class="spinner_S1WN" />
                <circle cx="12" cy="12" r="3" class="spinner_S1WN" style="animation-delay:-.65s" />
                <circle cx="20" cy="12" r="3" class="spinner_S1WN" style="animation-delay:-.5s" />
            </svg>
        </div>
        <!-- lhq_loading_file_text -->
    </div>
    <!-- lhq_editor_content_begin -->
    <div id="app">
        <table id="layout" v-if="!loading">
            <tr>
                <td>
                    <label for="name">{{ item.elementType.toPascalCase() }}:</label>
                </td>
                <td class="fullrow">
                    <a href="#" @click="openResource"
                        :title="'Click to locate ' + item.elementType + ' in tree view...'">
                        {{ isModelRoot ? '/ (root)' : fullPathNoRoot }}
                    </a>
                    <template v-if="!isModelRoot">
                        &nbsp;
                        <span class="codicon codicon-copy" style="vertical-align: middle; cursor: pointer;"
                            title="Copy path to clipboard" @click="copyPathToClipboard"></span>
                    </template>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="name">Name:</label>
                </td>
                <td>
                    <div style="display: flex; flex-direction: row; align-items: center; gap: 1em; width: 100%;">
                        <input type="text" id="name" v-model="item.name" ref="name" autocomplete="off"
                            @focus="focusOnName" readonly="readonly" :style="{ 'flex-basis': isResource ? '60%' : '' }">

                        <button type="button" id="btnEditName" @click="editElementName">Rename</button>

                        <template v-if="isResource">
                            <label for="state">State:</label>
                            <select id="state" v-model="item.state" style="flex-basis: 40%;">
                                <option disabled value="">Please select one</option>
                                <option>New</option>
                                <option>Edited</option>
                                <option>NeedsReview</option>
                                <option>Final</option>
                            </select>
                        </template>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: baseline;">
                    <label for="description">Description:</label>
                </td>
                <td>
                    <textarea id="description" v-model="item.description" rows="1"
                        @input="autoResizeTextarea"></textarea>
                </td>
            </tr>
            <template v-if="isResource">
                <tr>
                    <td style="vertical-align: top;padding-top: 7px;">
                        <label for="parameters" @click="focusParameters">Parameters:</label>
                    </td>
                    <td>
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 100%; padding-left: 0;">
                                    <input type="hidden" id="parameters" class="customTagify" ref="parameters">
                                </td>
                                <td>
                                    <button type="button" id="editParameters" class="big-btn" @click="editParameters">
                                        {{ paramsEnabled ? 'Apply' : 'Edit' }}
                                    </button>
                                </td>
                                <td v-if="paramsEnabled">
                                    <button type="button" id="cancelEditParameters" class="big-btn" data-cancel="true"
                                        @click="editParameters">Cancel</button>
                                </td>
                            </tr>
                            <tr v-if="paramsEnabled">
                                <td colspan="3">
                                    <span style="font-size: smaller;">
                                        <b>Enter</b> - update parameter &nbsp; <b>Backspace</b> - remove parameter
                                        &nbsp; <b>Ctrl+Enter</b> - apply changes &nbsp; <b>Esc</b> - cancel changes
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </template>
            <template v-if="isResource">
                <tr style="padding-bottom: 15px;">
                    <td>&nbsp;</td>
                    <td class="highlight-row" style="padding: 5px;">
                        <label>Translations ({{ translationCount }})</label>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <table id="translations" v-if="item.translations.length > 0">
                            <tr v-for="(translation, index) in item.translations" :key="translation.culture">
                                <td>
                                    <div id="translation-text-locked">
                                        <label :class="{ 'bold': translation.isPrimary }" class="no-wrap"
                                            style="text-align: left;"
                                            :title="'Language: ' + translation.culture + (translation.isPrimary ? ' [primary]' : '')"
                                            @click="focusTranslation(translation)">
                                            {{ translation.culture }}
                                        </label>
                                        <div :class="'codicon codicon-' + (translation.valueRef.locked ? 'lock' : 'unlock')"
                                            :title="translation.valueRef.locked ? 'Locked (click to unlock)' : 'Unlocked (Click to lock)'"
                                            @click="lockTranslation(translation)"></div>
                                    </div>
                                </td>
                                <td>
                                    <!-- :placeholder="'Enter translation for ' + translation.culture" -->
                                    <textarea ref="translationTextArea" v-model="translation.valueRef.value" rows="1"
                                        @input="setTranslationValue" :data-lang="translation.valueRef.languageName"
                                        :readonly="translation.valueRef.locked"
                                        :class="'translationTextArea ' + { 'locked': translation.valueRef.locked }"
                                        @focus="focusOnTranslation" @blur="blurOnTranslation"
                                        :title="translation.valueRef.locked ? 'Editing of translation is locked.':''"></textarea>
                                    <div v-if="getTranslationUnicodeError(translation)"
                                        class="error-text small-2lines-trim">
                                        {{ getTranslationUnicodeError(translation) }}
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div v-else>
                            <p>No translations available.</p>
                        </div>
                    </td>
                </tr>
            </template>
        </table>

        <div class="modal-dialog-block" v-if="blockPanelVisible" id="block-panel">
            <div class="modal-dialog" v-if="modelPropsCurrents.visible">
                <div>
                    <table style="width: 100%;">
                        <tr>
                            <td>Model properties</td>
                            <td style="text-align: right;">
                                <label style="font-size: smaller;font-weight: lighter;">
                                    Model version: v{{ modelProperties.modelVersion }}
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <table id="properties">
                        <tr>
                            <td>
                                <label for="layoutMode">Layout:</label>
                            </td>
                            <td>
                                <div style="display: flex;flex-direction: row;gap: 0.3em; align-items: center;">
                                    <select id="layoutMode" v-model="modelProperties.categories" ref="layoutMode">
                                        <option disabled value="">Please select layout</option>
                                        <option v-for="mode in modelProperties.layoutModes" :key="mode.name"
                                            :value="mode.value">
                                            {{ mode.name }}
                                        </option>
                                    </select>
                                    <div class="codicon codicon-info"
                                        :title="modelProperties.categories ? 'Structure hierarchy of categories and resources' : 'Flat list of resources (without categories)'">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr v-if="modelProperties.categories">
                            <td>&nbsp;</td>
                            <td style="padding-top: 0;">
                                <label title="Allows/disallow resources under root">
                                    <input type="checkbox" v-model="modelProperties.resources" style="width: auto;"
                                        @focus="focusOnAllowResources" @blur="blurOnAllowResources" :true-value="'All'"
                                        :false-value="'Categories'">
                                    Allow resources under root
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding-top: 8px;">
                                <label class="bold uppercase">Translation values:</label>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Line endings:
                            </td>
                            <td>
                                <div style="display: flex;flex-direction: row;gap: 0.3em; align-items: center;">
                                    <select id="valuesEolOptions" :value="modelProperties.values.eol ?? ''"
                                        ref="valuesEolOptions" @change="setValuesEolOptions($event.target.value)">
                                        <option v-for="option in modelProperties.valuesEolOptions" :key="option.name"
                                            :value="option.value">
                                            {{ option.name }}
                                        </option>
                                    </select>
                                    <div class="codicon codicon-info" :title="getValuesEolOptionsInfo()">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <!-- Sanitize translations: -->
                                &nbsp;
                            </td>
                            <td style="padding-top: 0;">
                                <label
                                    title="Sanitize translations on save (non-breaking spaces will be replaced with space and unsupported characters will be removed.)">
                                    <input type="checkbox" :checked="modelProperties.values.sanitize ?? false"
                                        style="width: auto;" @change="setValuesSanitize($event.target.checked)">
                                    Sanitize unsupported unicode characters
                                </label>
                            </td>
                        </tr>
                        <tr class="template">
                            <td>
                                <strong>Code Generator Template:</strong>
                            </td>
                            <td>
                                {{ templateDefinition.id }}
                                <!-- <a href="#" @click="changeTemplate" title="Change code generator template">
                                    {{ templateDefinition.id }}
                                </a> -->
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding: 0 0 0 5px; font-size: smaller">
                                <label class="small-2lines-trim">
                                    {{templateDefinition.description }}
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div style="overflow-y: auto;">
                                    <table id="settings-table">
                                        <tbody>
                                            <template v-for="(settings, group) in templateDefinition.settings">
                                                <tr>
                                                    <td colspan="2" style="padding-top: 8px;">
                                                        <label class="bold uppercase"
                                                            :class="{ 'error-text': modelPropsCurrents.codeGeneratorError && modelPropsCurrents.codeGeneratorError.group === group }">
                                                            {{ getGroupDisplayName(group) }}
                                                            &nbsp;
                                                            <span class="codicon codicon-info"
                                                                style="vertical-align: bottom; cursor: pointer;"
                                                                :title="getGroupDescription(group)"></span>
                                                        </label>
                                                    </td>
                                                </tr>

                                                <tr v-for="setting in settings" :key="setting.name"
                                                    class="settingValue">
                                                    <td>
                                                        <label :title="setting.description"
                                                            :class="{ 'error-text': modelPropsCurrents.codeGeneratorError && modelPropsCurrents.codeGeneratorError.name === setting.name }"
                                                            @click="focusSettingInput(group, setting.name)">
                                                            {{ setting.displayName }}
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <template v-if="setting.type === 'boolean'">
                                                            <input type="checkbox" :data-settings-group="group"
                                                                :data-settings-name="setting.name"
                                                                :title="setting.description"
                                                                :checked="getCodeGeneratorPropertyValue(group, setting.name)"
                                                                @change="setCodeGeneratorPropertyValue(group, setting.name, $event.target.checked)"
                                                                @focus="focusOnSettingProperty"
                                                                @blur="blurOnSettingProperty"
                                                                :disabled="getCodeGeneratorPropertyReadonly(group, setting.name)"
                                                                :true-value="true" :false-value="false">
                                                        </template>
                                                        <template v-else-if="setting.type === 'string'">
                                                            <input type="text" :data-settings-group="group"
                                                                :data-settings-name="setting.name"
                                                                :title="setting.description"
                                                                @focus="focusOnSettingProperty"
                                                                @blur="blurOnSettingProperty"
                                                                :value="getCodeGeneratorPropertyValue(group, setting.name)"
                                                                @input="setCodeGeneratorPropertyValue(group, setting.name, $event.target.value)"
                                                                :readonly="getCodeGeneratorPropertyReadonly(group, setting.name)">
                                                        </template>
                                                        <template v-else-if="setting.type === 'number'">
                                                            <input type="number" :data-settings-group="group"
                                                                :data-settings-name="setting.name"
                                                                :title="setting.description"
                                                                :value="getCodeGeneratorPropertyValue(group, setting.name)"
                                                                @focus="focusOnSettingProperty"
                                                                @blur="blurOnSettingProperty"
                                                                @input="setCodeGeneratorPropertyValue(group, setting.name, $event.target.value)"
                                                                :readonly="getCodeGeneratorPropertyReadonly(group, setting.name)">
                                                        </template>
                                                        <template v-else-if="setting.type === 'list'">
                                                            <select :data-settings-group="group"
                                                                :data-settings-name="setting.name"
                                                                :title="setting.description"
                                                                @focus="focusOnSettingProperty"
                                                                @blur="blurOnSettingProperty"
                                                                :value="getCodeGeneratorPropertyValue(group, setting.name)"
                                                                @change="setCodeGeneratorPropertyValue(group, setting.name, $event.target.value)"
                                                                :disabled="getCodeGeneratorPropertyReadonly(group, setting.name)">
                                                                <option v-for="option in setting.values"
                                                                    :key="option.value" :value="option.value">
                                                                    {{ option.name }}
                                                                </option>
                                                            </select>
                                                        </template>
                                                    </td>
                                                </tr>
                                            </template>
                                            <tr>
                                                <td colspan="2" style="text-align: right;">
                                                    <a href="#" @click="resetSettings"
                                                        title="Reset code generator template settings to default values">
                                                        Reset to default
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <div>
                        <label v-if="modelPropsCurrents.codeGeneratorError" class="error-text small-2lines-trim"
                            style="cursor: pointer;" :title="settingsError" @click="focusOnSettingsError">
                            {{ settingsError }}
                        </label>
                    </div>
                    <div>
                        <button type="button" style="margin-right: 8px;" @click="saveProperties"
                            :disabled="modelPropsCurrents.saving">OK</button>
                        <button type="button" @click="cancelProperties">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="page.js"></script>
    <!-- lhq_editor_content_end -->
</body>

</html>